@font-face {
  font-family: "Sofia Pro Bold";
  src: url("../fonts/SofiaProBold.woff2") format("woff2"),
  url("../fonts/SofiaProBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro Light";
  src: url("../fonts/SofiaProLight.woff2") format("woff2"),
  url("../fonts/SofiaProLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro Medium";
  src: url("../fonts/SofiaProMedium.woff2") format("woff2"),
  url("../fonts/SofiaProMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro Regular";
  src: url("../fonts/SofiaProRegular.woff2") format("woff2"),
  url("../fonts/SofiaProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "mr_ArenqG";
  src: url("../fonts/19694.woff2") format("woff2"),
  url("../fonts/19694.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}