*, h1, p
  margin: 0
  padding: 0
*
  box-sizing: border-box
body
  background-color: #dedcd4
  font-family: "Sofia Pro Light", sans-serif
img
  max-width: 100%
  object-fit: cover

.container
  width: 81%
  max-width: 1150px
  height: 100%
  margin-left: 19%
.title
  font-family: "Sofia Pro Regular", sans-serif
  font-size: 128px
  line-height: 128px
  color: #C65B0C
  font-weight: 400