*, h1, p
  margin: 0
  padding: 0
*
  box-sizing: border-box
body
  background-color: #dedcd4
  font-family: "Sofia Pro Light", sans-serif
img
  width: 100%
  max-width: 100%
  object-fit: cover

.container
  width: 81%
  max-width: 1150px
  height: 100%
  margin-left: 19%
.title
  font-family: "Sofia Pro Regular", sans-serif
  font-size: 128px
  line-height: 128px
  color: #C65B0C
  font-weight: 400
.running-row
  white-space: nowrap
  overflow: hidden
  &__item
    position: relative
    display: inline-block
    margin-right: 37px
    font-family: "Sofia Pro Bold", sans-serif
    font-weight: 400
    font-size: 36px
    line-height: 36px
    text-transform: uppercase
    opacity: 0.5
    text-shadow: 0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0)
    -webkit-text-shadow: 0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0)
    -moz-text-shadow: 0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0)
    &--white
      color: white
    &--beige
      color: #dedcd4
    &::after
      content: ''
      position: absolute
      right: -27px
      top: 50%
      transform: translateY(-50%)
      width: 11px
      height: 11px
      border-radius: 100%
      background-color: transparent
      border: 1px solid rgba(0, 0, 0, 0.8)
.running-row
  & .active
    color: #C65B0C
    opacity: 1
    text-shadow: none
    -webkit-text-shadow: none
    -moz-text-shadow: none